@use "global/mixins" as *;

.container {
  @include container;
  background: url("/backgrounds/spirit-guide_2.jpg") no-repeat 55% center /
    cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  // overflow: hidden;
  position: relative;
  .wave {
  position: absolute;
  bottom: -3px;
  width: 100%;
  }

  header {
    padding-left: 50px;
    padding-right: 50px;
    position: fixed;
    top: 0;
    width: 80%;
    max-width: 1000px;
    height: 90px;
    z-index: 1000;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    .background {
      z-index: -1;
      top: -2px;
      bottom: 0;
      right: 0;
      left: 0;
      position: absolute;
      // width: 100%;
      // height: 100%;
      border-bottom-left-radius: 21.45px; 
      border-bottom-right-radius: 21.45px; 
      filter: blur(1.89px); 
      backdrop-filter: blur(30.28px);
      background: rgba(49, 49, 49, 0.144); 
      // box-shadow: 1.8924949169158936px 1.8924949169158936px 1.8924949169158936px; 
    }
    .image{
      padding: 5px;
    }
    a {
      margin-left: 15px;
    }
  }

}

.content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  position: relative;

  // border: 1px solid red;

  .title {
    -webkit-animation: title 1.5s ease-out;
    animation: title 1.5s ease-out;
  }

  @-webkit-keyframes title {
    0% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
              opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
              opacity: 1;
    }
  }
  @keyframes title {
    0% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
              opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
              opacity: 1;
    }
  }
  
  .title2 {
    -webkit-animation: title2 1.8s ease-out;
    animation: title2 1.8s ease-out;
  }

  @-webkit-keyframes title2 {
    0% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
              opacity: 0;
    }
    50% {
              opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
              opacity: 1;
    }
  }
  @keyframes title2 {
    0% {
      -webkit-transform: translateY(150px);
              transform: translateY(150px);
              opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
              opacity: 1;
    }
  }
  

  h1 {
    letter-spacing: 1.3px;
    font-family: EB-garamond, Muslish, inter;
    font-weight: 400;
    font-style: italic;

    font-size: 6.5vmin;
    span {
      font-size: 1.5em;
      color: #fcdb44;
    }
  }
  p {
    margin-top: 30px;
    font-size: 0.8em;
    font-weight: 300;
  }

  
}

.arrow{
    position: absolute;
    margin: auto;
    bottom: 15vh;
    // left: 50%;
    size: 100px;
    margin: 0 calc(50% - 1em);
    z-index: 100;
    opacity: 0;
    animation-name: release;
    animation-duration: 1.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    // border: 1px solid red;
  }

  @keyframes release {
    from {opacity: 0;}
    to {opacity: 1;}
  }


@media (max-width: 768px) {
  .container {
    header {
      height: 70px;
      justify-content: center;
      .image {
        display: none;
      }
      .menu {
        // display: none;
      }
      width: 95%;
    }

  }
  .content {
    p {
          font-size: 1em;

    }
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .container {
    header {
      width: 90%;
    }

  }
  .content {
    p {
          font-size: 1.2em;

    }
  }
}

@media (min-width: 1024px) and (max-width: 1200px){
  .content {
    p {
          font-size: 1.2em;

    }
  }
.wave {
  position: absolute;
  bottom: -30px;
}
}

@media (min-width: 1201px) {
  .content {
    p {
          font-size: 1.2em;

    }
  }
  .arrow{
    bottom: 25vh !important;
  }
  .wave {
  position: absolute;
  bottom: -50px;
}
} 